@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "reset.css";
@import "variables.css";

/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
/*Screens*/
@import "screens/login.css";
@import "screens/welcome.css";
@import "screens/friends.css";

body {
  font-family: "Dancing Script", cursive;
  font-family: "Noto Serif", serif;
  height: 1000px;
}
