body {
  background-color: #f9e9da;
}
.more-screen .icon-row {
  margin-top: 35px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions_title {
  margin-bottom: 30px;
}

.more-suggestions_icons {
  margin-right: 30px;
}

@keyframes suggestions {
  0% {
    transition: none;
  }
  50% {
    transform: scale(1.5);
    background-color: pink;
  }
  100% {
    transition: none;
  }
}

.more-suggestions_icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  margin-left: 15px;
}

.more-suggestions_icon-image:hover {
  animation: suggestions 1s ease-in-out;
}

.more-suggestions_icon-image i {
  font-size: 32px;
  color: white;
}
