.user-component {
  justify-content: space-between;
}

.user-component,
.user-component_column:first-child {
  display: flex;
  align-items: center;
}
.user-component_avatar {
  width: 70px;
  height: 70px;
  border-radius: 27px;
  margin-right: 20px;
}

.user-component_title {
  font-size: 20px;
  font-weight: 600;
}

.user-component_subtitle {
  margin-top: 3px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.7);
}

.user-component_avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
}

.user-component_avatar--sm {
  width: 60px;
  height: 60px;
  border-radius: 25px;
}
.user-component_title--not-bold {
  font-weight: 400;
}

.user-component_column:last-child {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component_time {
  margin-bottom: 10px;
  display: block;
}

.user-component_more {
  padding: 0 7px;
  background-color: white;
  border-radius: 50%;
  border: 2px solid tomato;
  color: tomato;
  font-weight: 450;
}

.friends-screen_channel {
  margin-top: 25px;
  border-top: var(--main-border);
  padding-top: 15px;
}

.friends-screen_channel-header {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
}
